<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yian.admin.dao.SysExdelMapper">
  <resultMap id="BaseResultMap" type="com.yian.admin.model.SysExdel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="toLocation" jdbcType="VARCHAR" property="toLocation" />
    <result column="fromLocation" jdbcType="VARCHAR" property="fromLocation" />
    <result column="expressName" jdbcType="VARCHAR" property="expressName" />
    <result column="expressNumber" jdbcType="VARCHAR" property="expressNumber" />
    <result column="giftSend" jdbcType="VARCHAR" property="giftSend" />
    <result column="sparam" jdbcType="VARCHAR" property="sparam" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
   	<result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <resultMap id="ClientAndExpressMap" type="com.yian.admin.model.SysClientAndExpress">
  	<id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="toLocation" jdbcType="VARCHAR" property="toLocation" />
    <result column="expressName" jdbcType="VARCHAR" property="expressName" />
    <result column="expressNumber" jdbcType="VARCHAR" property="expressNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name,telephone,toLocation,fromLocation,expressName,expressNumber,giftSend,sparam,sign,createtime,del_flag
  </sql>
  <sql id="Client_and_express_List">
    id,name,telephone,toLocation,expressName,expressNumber
  </sql>
  <select id="exportClientAndExpress" resultMap="ClientAndExpressMap">
    select id,name,telephone,toLocation,expressName,expressNumber
    <include refid="Client_and_express_List" />
    from mark_expressdelivery
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mark_expressdelivery
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mark_expressdelivery
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yian.admin.model.SysExdel">
    insert into mark_expressdelivery (id,name,telephone,toLocation,fromLocation,expressName,expressNumber,giftSend,sparam,sign,createtime,del_flag)
     values 
      ( #{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{telephone,jdbcType=VARCHAR},  
      	#{toLocation,jdbcType=VARCHAR},#{fromLocation,jdbcType=VARCHAR},#{expressName,jdbcType=VARCHAR}, 
      	#{expressNumber,jdbcType=VARCHAR}, #{giftSend,jdbcType=VARCHAR},#{sparam,jdbcType=VARCHAR},
      	#{sign,jdbcType=VARCHAR},#{createtime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yian.admin.model.SysExdel">
    insert into mark_expressdelivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="telephone != null">
        telephone,
      </if>    
      <if test="toLocation != null">
        toLocation,
      </if>
      <if test="fromLocation != null">
        fromLocation,
      </if>
      <if test="expressName != null">
        expressName,
      </if>
      <if test="expressNumber != null">
        expressNumber,
      </if>
      <if test="giftSend != null">
      	giftSend,
      </if>
      <if test="sparam != null">
      	sparam,
      </if>
      <if test="sign != null">
      	sign,
      </if>
      <if test="createtime != null">
        createtime,
      </if> 
      <if test="delFlag != null">
        del_flag,
      </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
       #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="toLocation != null">
        #{toLocation,jdbcType=VARCHAR},
      </if>
      <if test="fromLocation != null">
        #{fromLocation,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null">
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="giftSend != null">
        #{giftSend,jdbcType=VARCHAR},
      </if>
      <if test="sparam != null">
        #{sparam,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if> 
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yian.admin.model.SysExdel">
    update mark_expressdelivery
    <set>
      <if test="name != null">
       name=#{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
       telephone= #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="toLocation != null">
       toLocation=#{toLocation,jdbcType=VARCHAR},
      </if>
      <if test="fromLocation != null">
       fromLocation= #{fromLocation,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null">
       expressName= #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
       expressNumber=#{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="giftSend != null">
       giftSend= #{giftSend,jdbcType=VARCHAR},
      </if>
      <if test="sparam != null">
       sparam= #{sparam,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign=#{sign,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime=#{createtime,jdbcType=TIMESTAMP},    
       </if>
       <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yian.admin.model.SysExdel">
    update mark_expressdelivery
    set  
        name=#{name,jdbcType=VARCHAR},
        telephone= #{telephone,jdbcType=VARCHAR},
        toLocation= #{toLocation,jdbcType=VARCHAR},
        fromLocation= #{fromLocation,jdbcType=VARCHAR},    
		expressName= #{expressName,jdbcType=VARCHAR},     
        expressNumber= #{expressNumber,jdbcType=VARCHAR},      
        giftSend= #{giftSend,jdbcType=VARCHAR},
        sparam= #{sparam,jdbcType=VARCHAR},
        sign=#{sign,jdbcType=VARCHAR},  
        createtime=#{createtime,jdbcType=TIMESTAMP},         
        del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateExpressInfo" parameterType="java.lang.String">
    update mark_expressdelivery
    set  
        fromLocation= #{fromLocation,jdbcType=VARCHAR},    
		expressName= #{expressName,jdbcType=VARCHAR},     
        expressNumber= #{expressNumber,jdbcType=VARCHAR},      
        giftSend= #{giftSend,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR} and telephone = #{telephone,jdbcType=VARCHAR}
  </update>
  <select id="findPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mark_expressdelivery
  </select>
  <select id="findPageByLabel" parameterType="java.lang.String" resultMap="BaseResultMap">
  	<bind name="pattern" value="'%' + _parameter.name + '%'" />
  	select 
    <include refid="Base_Column_List" />
     from mark_expressdelivery
     where name like #{pattern}
  </select>
  <select id="findByLable" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mark_expressdelivery
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="findNameandTel" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mark_expressdelivery
    where name = #{name,jdbcType=VARCHAR} and telephone = #{telephone,jdbcType=VARCHAR}
   </select>
</mapper>